import React from 'react';
<% if (redux) { -%>
import { connect } from 'react-redux';
<% } -%>

import Base from './Base';

<% if (redux) { -%>
class <%- name %> extends Base {
<% } else { -%>
export default class <%- name %> extends Base {
<% } -%>
    render() {
        return (
            <div className='<%- name %>'>
                <h6><%- name %></h6>
            </div>
        );
    }
}

<% if (redux) { -%>
const mapStateToProps = (state) => {
    return {
    };
};

const mapDispatchToProps = (dispatch) => {
    return {
    };
};

export default connect(mapStateToProps, mapDispatchToProps)(<%= name %>);
<% } -%>